<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlayfairCipher" />
                <binding name="BasicHttpBinding_IRSA" />
                <binding name="BasicHttpBinding_IA51" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65348/PlayfairCipher.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlayfairCipher"
                contract="ServiceReference1.IPlayfairCipher" name="BasicHttpBinding_IPlayfairCipher" />
            <endpoint address="http://localhost:65348/RSA.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRSA" contract="ServiceReference2.IRSA"
                name="BasicHttpBinding_IRSA" />
            <endpoint address="http://localhost:65348/A51.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IA51" contract="ServiceReference3.IA51"
                name="BasicHttpBinding_IA51" />
        </client>
    </system.serviceModel>
</configuration>